In [1]:
class Solution:
    def removeDuplicates(self, nums):
        new_ls = []
        # for i in nums:
        #     if i not in new_ls:
        #         new_ls.append(i)
                
        return new_ls
a = Solution
c = [1, 2, 3, 4, 5, 5]
a.removeDuplicates(c)

TypeError: removeDuplicates() missing 1 required positional argument: 'nums'

In [13]:
import pandas as pd
df = pd.DataFrame()

df['student_id'] = [100, 100, 100, 100, 101]
df['student_name'] = ['anna', 'anna', 'anna', 'anna', 'brian']
df['exam_id'] = [1, 2, 3, 4, 1]
df['score'] = [71, 72, 73, 74, 65]

results = pd.DataFrame()
for i in df.student_name.unique():
    tmp = df.loc[df.student_name == i]

    result = pd.DataFrame()
    result['student_id'] = [tmp['student_id'].iloc[0]]
    result['student_name'] = i

    for idx, examid in enumerate(tmp.exam_id.to_list()):
        result[f'exam_{examid}'] = tmp['score'].iloc[idx]
        
    results = results.append(result)

results

   student_id student_name  exam_1  exam_2  exam_3  exam_4
0         100         anna      71    72.0    73.0    74.0
0         101        brian      65     NaN     NaN     NaN

In [10]:
results = pd.DataFrame()
results['a'] = [100]
results['b'] = 20
results

     a   b
0  100  20

In [24]:
df['student_id'].iloc[-1]

101